<a href="/"><h1>Insert Productos</h1></a>

<form method="POST">
	<label for="nombre_p">Nombre Producto</label>
	<input type="text" id="nombre_p" name="nombre_p" placeholder="NombreProducto">
	<br>
	<label for="categoria">Categoria</label>
	<input type="text" id="categoria" name="categoria" placeholder="Categoria">
	<br>
	<label for="descripcion">Descripcion</label>
	<input type="text" id="descripcion" name="descripcion" placeholder="Descripcion">
	<br>
	<label for="marca">Marca</label>
	<input type="text" id="marca" name="marca" placeholder="Marca">
	<br>
	<label for="cantidad">Cantidad</label>
	<input type="text" id="cantidad" name="cantidad" placeholder="Cantidad">
	<br>
	<button type="submit" class="btn btn-primary">Insert</button>
</form>